input {
  width: 150px;
  height: 100px;
  font-size: 75px;
  border-radius: 10px;
  margin: 10px;
  background-color: #4f4c4a;
  color: #fff;
  border-style: none;
}

#myform {
  margin-left: 225px;
  margin-top: 20px;
}
h1 {
  text-align: center;
  font-size: 60px;
  margin-right: 150px;
  margin-top: 40px;
}

/* Source => 
Section 8 - Front End Project (1st) - Build a Calculator
Videos - from 83 to 87.
*
This calculator is made with JavaScript. 
I added some of my ideas. 
1. Needs more work and memorising
2. When I press "=" button it got "undefined" -> here check more in depth
*

From UDEMY TUTORIAL =>  
Python and Django Full-Stack Web Development 
 for beginners, 
Build web projects with HTML, CSS, BOOTSTRAP, 
 JavaScript, Python, Django, PostgreSQL 
Description:
1. made HTML
2. made CSS
3. added Logic
URL => 
https://www.udemy.com/course/python-and-django-full-stack-web-development-for-beginners/

*/